{% extends "navibar.html" %}

{% block title %}Dodaj produkt{% endblock %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-lg-6">

    <div class="card shadow-sm">
      <div class="card-body">

        <h3 class="mb-4 text-center">➕ Dodaj nowy produkt</h3>

        <form method="POST">

          <div class="mb-3">
            <label class="form-label">Nazwa produktu</label>
            <input
              type="text"
              name="name"
              class="form-control"
              required
            >
          </div>


          <div class="mb-4">
            <label class="form-label">Link do dokumentacji / strony produktu</label>
            <input
              type="url"
              name="link"
              class="form-control"
              placeholder="https://..."
              required
            >
            <div class="form-text">
              Na podstawie linku system automatycznie wygeneruje opis produktu.
            </div>
          </div>

          <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">
              💾 Dodaj produkt
            </button>
          </div>

        </form>

      </div>
    </div>

  </div>
</div>

{% endblock %}