<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <title>Praca inżynierska</title>
        <style>
            .add{
                margin: 30px auto;
                text-align: center;
            }
        </style>
    </head>
    
    <body>
        <div class="add">
            <h3>Wprowadź dane</h3>
            <form method="POST">
            <label for="name">Nazwa produktu:</label>
            <input type="text" name="name" required>
            <label for="description">Dokumentacja produktu:</label>
            <textarea name="description" required></textarea>
            <button type="submit">Dodaj</button>
            </form>
        </div>

    </body>
</html>
